:root {
  --pixel-flow-primary: #0ea5e9;
  --pixel-flow-secondary: #8b5cf6;
  --pixel-flow-success: #0d9488;
  --pixel-flow-danger: #dc2626;
  --pixel-flow-warning: #f3b415;
  --pixel-flow-default: #bfbfbf;
}
