.pf-btn {
  display: inline-flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-weight: 500;
  border: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
  color: white;
}

.pf-btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.pf-btn-primary {
  background: var(--pixel-flow-primary);
  &:hover:enabled {
    --hover: color-mix(in srgb, var(--pixel-flow-primary), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    background: color-mix(in srgb, var(--pixel-flow-primary), #000 12.5%);
  }
}
.pf-btn-secondary {
  background: var(--pixel-flow-secondary);
  &:hover:enabled {
    --hover: color-mix(in srgb, var(--pixel-flow-secondary), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    background: color-mix(in srgb, var(--pixel-flow-secondary), #000 12.5%);
  }
}
.pf-btn-success {
  background: var(--pixel-flow-success);
  &:hover:enabled {
    --hover: color-mix(in srgb, var(--pixel-flow-success), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    background: color-mix(in srgb, var(--pixel-flow-success), #000 12.5%);
  }
}
.pf-btn-danger {
  background: var(--pixel-flow-danger);
  &:hover:enabled {
    --hover: color-mix(in srgb, var(--pixel-flow-danger), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    background: color-mix(in srgb, var(--pixel-flow-danger), #000 12.5%);
  }
}
.pf-btn-warning {
  background: var(--pixel-flow-warning);
  &:hover:enabled {
    --hover: color-mix(in srgb, var(--pixel-flow-warning), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    background: color-mix(in srgb, var(--pixel-flow-warning), #000 12.5%);
  }
}
.pf-btn-default {
  background: var(--pixel-flow-default);
  &:hover:enabled {
    --hover: color-mix(in srgb, var(--pixel-flow-default), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    background: color-mix(in srgb, var(--pixel-flow-default), #000 12.5%);
  }
}
.pf-btn-gradient {
  background: linear-gradient(
    90deg,
    var(--pixel-flow-primary) -30%,
    var(--pixel-flow-secondary) 130%
  );
  &:hover:enabled {
    --gradient: color-mix(
      in srgb,
      var(--pixel-flow-primary),
      var(--pixel-flow-secondary) 50%
    );
    --hover: color-mix(in srgb, var(--gradient), #0000 76%);
    box-shadow: var(--hover) 0px 8px 16px 0px;
    filter: brightness(92.5%);
  }
}

.pf-btn-disabled {
  opacity: 0.65 !important;
  &:hover {
    cursor: progress;
    filter: none;
    box-shadow: none;
  }
}
