.pf-hr {
  border-bottom-color: rgba(145, 158, 171, 0.2);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-top-color: rgba(145, 158, 171, 0.2);
  border-top-style: dashed;
  border-top-width: 1px;
}
